aiofiles
aiohttp
aria2p
beautifulsoup4
bs4
cfscrape
coffeehouse
cowpy
cryptg
dropbox
emoji
googletrans
google_images_download
gsearch
gtts
hachoir
heroku3
humanize
Pillow
psycopg2
psutil
pySmartDL
python-barcode
python-magic
pymongo
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
asyncurban
wikipedia
youtube-dl
git+https://github.com/ahupp/python-magic
google-api-python-client
oauth2client
httplib2==0.15.0
pyGithub
